.sidebar-widgets {
    @include xs-block {
        margin-top: 16px;
    }
    &__widget-form {
        margin-top: 22px;
        margin-bottom: 16px;
        @include xs-block {
            margin-top: 16px;
        }
    }
}