.logo {
    &__img {
        height: auto;
        width: 100%;
        &_desctop {
            @include sm-block {
                display: none;
            }
        }
        &_mobile {
            display: none;
            @include sm-block {
                display: block;
            }
        }
    }
}