extends ../blocks/head

block variables
    - var pageTitle = 'Legalbet';
    - var tableHeader = ['Букмекер', 'Маржа', 'Отзывы', 'Бонус', ' '];
    - var menuWidgetLink = ['Школа ставок', 'FAQ', 'Вопрос-ответ', 'Советы игроков', 'Калькулятор расчета выйгрыша'];
                    

block content
    .content.page__content
        include ../blocks/menu-select/menu-select
        include ../blocks/table-rates/table-rates
    include ../blocks/sidebar-widgets/sidebar-widgets
