extends ../blocks/head

block variables
	- var pageTitle = 'Legalbet'

block content
	// Page body
	.page__body
		// Header
		include ../blocks/header/header
	// Sidebar
	include ../blocks/sidebar/sidebar