table.table-rates.page__table-rates
    caption.table-rates__caption
        h2.table-rates__title Букмекерские конторы с высокими коэффициентами 
        span.table-rates__jaw Не<br>продается
    tbody.table-rates__tbody
        tr.table-rates__row.table-rates__row_header
            each val, index in tableHeader
                th.table-rates__cell.table-rates__cell_header= val
        tr.table-rates__row.table-rates__row_body
            th.table-rates__cell.table-rates__cell_body
                .table-rates__logo(rowspan="3")
                    img(src="img/logo-1.png", alt="").table-rates__img
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__num 2,69%
                    span.table-rates__burger
                        include ../svg/table-burger
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__icon
                        include ../svg/table-comment
                    span.table-rates__num.table-rates__num_blue 138
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk.table-rates__plunk_yellow
                    span.table-rates__icon
                        include ../svg/table-gift
                    span.table-rates__num 2 000 &#8381
            th.table-rates__cell.table-rates__cell_body
        tr.table-rates__row.table-rates__row_body
            th.table-rates__cell.table-rates__cell_body
                .table-rates__logo
                    img(src="img/logo-2.png", alt="").table-rates__img
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__num 2,69%
                    span.table-rates__burger
                        include ../svg/table-burger
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__icon
                        include ../svg/table-comment
                    span.table-rates__num.table-rates__num_blue 138
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk.table-rates__plunk_yellow
                    span.table-rates__icon
                        include ../svg/table-gift
                    span.table-rates__num 2 000 &#8381
            th.table-rates__cell.table-rates__cell_body
                .table-rates__btn
                    a(href="#").button.button_red На сайт
        tr.table-rates__row.table-rates__row_body
            th.table-rates__cell.table-rates__cell_body
                .table-rates__logo
                    img(src="img/logo-3.png", alt="").table-rates__img
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__num 2,69%
                    span.table-rates__burger
                        include ../svg/table-burger
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__icon
                        include ../svg/table-comment
                    span.table-rates__num.table-rates__num_blue 138
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk.table-rates__plunk_yellow
                    span.table-rates__icon
                        include ../svg/table-gift
                    span.table-rates__num 2 000 &#8381
            th.table-rates__cell.table-rates__cell_body
                .table-rates__btn
                    a(href="#").button.button_red На сайт
        tr.table-rates__row.table-rates__row_body
            th.table-rates__cell.table-rates__cell_body
                .table-rates__logo
                    img(src="img/logo-4.png", alt="").table-rates__img
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__num 2,69%
                    span.table-rates__burger
                        include ../svg/table-burger
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk
                    span.table-rates__icon
                        include ../svg/table-comment
                    span.table-rates__num.table-rates__num_blue 138
            th.table-rates__cell.table-rates__cell_body
                a(href="#").table-rates__plunk.table-rates__plunk_yellow
                    span.table-rates__icon
                        include ../svg/table-gift
                    span.table-rates__num 2 000 &#8381
            th.table-rates__cell.table-rates__cell_body