.table-rates {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-white);
    padding: 34px 25px 15px;
    border-radius: 3px;
    overflow: hidden;
    @include xs(padding, 20px 16px 15px);
    &__caption {
        position: relative;
        background-color: var(--color-white);
        padding: 34px 26px 0 26px;
        @include xs-block {
            padding: 20px 16px 0 16px;
        }
    }
    &__title {
        display: block;
        font-family: var(--font-Proxima-Rg);
        font-size: 24px;
        line-height: 24px;
        color: var(--color-black);
        margin: 0;
        text-align: left;
        @include xs-block {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__jaw {
        position: absolute;
        top: 3px;
        right: -40px;
        display: inline-block;
        font-family: var(--font-Proxima-Bl);
        font-size: 12px;
        line-height: 14px;
        background-color: var(--color-light-green);
        text-transform: uppercase;
        text-align: center;
        padding: 5px 40px;
        color: var(--color-white-green);
        transform: rotate(30deg);
        @include xs-block {
            font-size: 10px;
            line-height: 12px;
        }
    }
    &__img {
        object-fit: contain;
    }
    &__plunk {
        display: inline-block;
        background-color: var(--color-white-gray);
        padding: 8px 18px;
        border-radius: 43px;
        vertical-align: middle;
        text-decoration: none;
        @include xs-block {
            padding: 8px;
            border-radius: 3px;
        }
        &_yellow {
            background-color: var(--color-yellow);
        }
    }
    &__icon, &__burger {
        vertical-align: middle;
    }
    &__icon {
        margin-right: 8px;
    }
    &__burger {
        margin-left: 8px;
        @include xs(margin-left, 4px)
    }
    &__num {
        color: var(--color-black);
        &_blue {
            color: var(--color-blue);
        }
    }
    &__row {
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        &:last-child {
            box-shadow: none;
        }
    }
    &__cell {
        font-family: var(--font-Proxima-Bl);
        font-size: 14px;
        line-height: 16px;
        width: 18%;
        vertical-align: middle;
        text-align: left;
        @include xs-block {
            text-align: center;
        }
        &:first-child {
            width: 30%;
            @include xs-block {
                width: 20%;
            }
        }
        &_header {
            padding-top: 8px;
            padding-bottom: 8px;
            @include xs-block {
                display: none;
            }
            @include xs-block {
                width: 100%;
                text-align: left;
                &:nth-child(2) {
                    display: block;
                }
            }
        }
        &_body {
            padding-top: 20px;
            padding-bottom: 20px;
            @include xs-block {
                padding-top: 16px;
                padding-bottom: 16px;
                &:nth-child(4){
                    display: none;
                }
                &:nth-child(3){
                    display: none;
                }
            }
            &:last-child {
                position: relative;
                &::before {
                    content: url('../img/icons/arrow-right.svg');
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    @include xs(right, -10px)
                }
            }
            
        }
    }
}