.menu-select
    .menu-select__label
        .menu-select__arrow
    select.menu-select__control.page__menu-select
        option(value="Калькулятор расчета выйгрыша").menu-select__option Калькулятор расчета выйгрыша