:root {
    --color-blue: #3498DB;
    --color-yellow: #FFC504;
    --color-red: #D0021B;
    --color-alert: #F64747;
    --color-gray: #F64747;
    --color-white-gray: #F4F4F4;
    --color-dark-gray: rgba(0, 0, 0, 0.4);
    --color-white: #FFFFFF;
    --color-green: #62B435;
    --color-black: rgba(0, 0, 0, 0.8);
    --color-dark: #333333;
    --font-Proxima-Bl: 'ProximaNova Bl', sans-serif;
    --font-Proxima-Rg: 'ProximaNova Rg', sans-serif;
    --font-Proxima-Lt: 'ProximaNova Lt', sans-serif;
}