:root {
    --color-blue: #3498DB;
    --color-yellow: rgba(255, 197, 4, 0.2);
    --color-red: #D0021B;
    --color-alert: #F64747;
    --color-gray: rgba(0, 0, 0, 0.4);;
    --color-white-gray: #F4F4F4;
    --color-dark-gray: rgba(0, 0, 0, 0.4);
    --color-white: #FFFFFF;
    --color-green: #62B435;
    --color-white-green: #16BFB3;
    --color-light-green: rgba(23, 191, 180, 0.2);
    --color-black: rgba(0, 0, 0, 0.8);
    --color-dark: #333333;
    --font-Proxima-Bl: 'ProximaNova Bl', sans-serif;
    --font-Proxima-Rg: 'ProximaNova Rg', sans-serif;
    --font-Proxima-Lt: 'ProximaNova Lt', sans-serif;
}