<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5H20V7H4V5ZM4 11H20V13H4V11ZM20 17H4V19H20V17Z" fill="black" fill-opacity="0.8"/>
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="4" y="5" width="16" height="14">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5H20V7H4V5ZM4 11H20V13H4V11ZM20 17H4V19H20V17Z" fill="white"/>
    </mask>
    <g mask="url(#mask0)">
    </g>
    <path d="M19 9C21.2091 9 23 7.20914 23 5C23 2.79086 21.2091 1 19 1C16.7909 1 15 2.79086 15 5C15 7.20914 16.7909 9 19 9Z" stroke="#F0F1F2" stroke-width="2"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19 8C20.6569 8 22 6.65685 22 5C22 3.34315 20.6569 2 19 2C17.3431 2 16 3.34315 16 5C16 6.65685 17.3431 8 19 8Z" fill="#F64747"/>
    <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="16" y="2" width="6" height="6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19 8C20.6569 8 22 6.65685 22 5C22 3.34315 20.6569 2 19 2C17.3431 2 16 3.34315 16 5C16 6.65685 17.3431 8 19 8Z" fill="white"/>
    </mask>
    <g mask="url(#mask1)">
    </g>
</svg>