.menu {
    font-family: var(--font-Proxima-Bl);
    font-size: 14px;
    line-height: 16px;
    @include sm-block {
        display: none;
    }
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item ~ &__item {
        margin-left: 24px;
    }
    &__item {
        text-align: center;
    }
    &__link {
        color: var(--color-black);
        text-decoration: none;
    }
}