header.header
    // Logo
    include ../logo/logo
    // Knowledge base
    include ../knowledge-base/knowledge-base
    // Menu
    include ../menu/menu
    // Help
    include ../help/help
    // Search
    include ../search/search
    // Burger-menu
    include ../burger-menu/burger-menu
    // Avatar
    include ../avatar/avatar